* {
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
	font-weight: 500;
}

input {
	font-family: inherit;
}

#search {
	position: absolute;
	top: 300px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 600px;
	height: 60px;
	z-index: 100;
}
	#search img {
		position: relative;
		float: left;
		width: 60px;
		height: 60px;
		padding: 10px;
		margin-left: -60px;
		cursor: pointer;
	}

	#search input {
		position: relative;
		float: left;
		width: 100%;
		height: 60px;
		font-family: inherit;
		font-weight: 700;
		font-size: 24px;
		padding: 0px 20px;
		border-radius: 10px;
		border: 2px solid #91989F;

		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
	}
		#search input:focus {
			border: 2px solid #555555;
			box-shadow: 0px 0px 5px #555555;
			color: #555555;
		}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#panel {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 300px;
	height: 200px;
	color: white;
	border: solid 1px #FFFFFF;
	background: rgba(0, 0, 0, 0);
	border-radius: 5px;

	-webkit-backdrop-filter: blur(20px) saturate(180%);
	backdrop-filter: blur(20px) saturate(180%);
}

.controls {
	position: block;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 1em;
	background: rgba(100, 100, 100, 1);
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
	.controls:focus {
		outline: none;
	}